<p>
  Postcodezoeker
</p>
<table>
  <tr>
    <td>
      <input type="text" maxlength="6" style="width:75px"
             [value]="postalCode"
             (input)="postalCode = $event.target.value" />
    </td>
    <td>
      <input type="text" maxlength="10" style="width:50px"
             [value]="houseNumber"
             (input)="houseNumber = $event.target.value" />
    </td>
    <td>
      <button type="submit" style="width:75px" (click)="btnSearch()">Zoek!</button>
    </td>
  </tr>
    <tr *ngIf="(addressesObservable$ | async) as addresses">
      <td colspan="3">
        <div *ngFor="let address of addresses">
          {{address.street}} - {{address.city}}
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div *ngIf="notFound">
          Geen adres gevonden
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button *ngIf="!notFound" type="submit" style="width:100px" (click)="btnEmpty()">Leegmaken!</button>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div id="map" style="height:300px;width:300px"></div>
      </td>
    </tr>

</table>
